@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  transition: 0.4s cubic-bezier(0.2, 0.3, 0.6, 0.5);
}

body {
  overflow-x: hidden;
}

:root {
  --main-word-color: #4f5665;
  --darken-color: #0b132a;
  --main-bg-color: #ffffff;
  --red-color: #f53855;
  --red-blur-10: #f5385425;
  --border-color: #dddddd;
  --footer-bg: #f8f8f8;
  --main-size: 16px;
  --main-weight: 400;
  --weight-500: 500;
  --weight-700: 700;
  --border-lines: 2px solid #dddddd;
  --section-bg: #fbfbfb;
  --green: #2fab73;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Jost", sans-serif;
}

.displays {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_bgs {
  background-color: var(--section-bg);
}

ul {
  list-style: none;
}

nav .container {
  padding: 30px 0px;
}

nav .container .nav_logo {
  width: 149px;
  height: 40px;
  cursor: pointer;
}

nav .container .nav_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav .container .nav_links {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav .container .nav_links li {
  font-size: var(--main-word-color);
  font-size: var(--main-size);
  font-weight: var(--main-weight);
  cursor: pointer;
  position: relative;
  transition: 0.4s cubic-bezier(0.4, 0.5, 0.4, 1);
  letter-spacing: 1px;
}

nav .container .nav_links li:hover {
  color: var(--red-color);
}

nav .container .nav_links li:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  height: 2px;
  width: 0px;
  background-color: var(--red-color);
  border-radius: 4px;
  transform: translateX(-50%);
  transition: 0.4s cubic-bezier(0.25, 0.8, 0.3, 1);
}

nav .container .nav_links li:hover::after,
nav .container .nav_links li:focus::after {
  width: 110%;
  box-sizing: 0px 0px 12px var(--main-word-color);
}

nav .container .nav_icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .container .nav_icons button {
  padding: 7px 20px;
  border-radius: 100px;
  border: 1px solid var(--red-color);
  background-color: transparent;
  font-size: var(--main-size);
  font-weight: var(--weight-500);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.2, 0.3, 0.6, 0.5);
}

nav .container .nav_icons button:nth-child(1) {
  border-color: transparent;
}

nav .container .nav_icons button:nth-child(1):hover {
  border-color: var(--red-color);
  color: var(--main-bg-color);
  background-color: var(--red-color);
  box-shadow: 0px 0px 8px var(--red-color);
}

nav .container .nav_icons button:nth-child(2) {
  color: var(--red-color);
}

nav .container .nav_icons button:nth-child(2):hover {
  border-color: var(--red-color);
  background-color: var(--red-blur-10);
  box-shadow: 0px 0px 8px var(--red-color);
  border-color: var(--main-bg-color);
}

.hero .container {
  padding-top: 20px;
}

.hero .container .hero_information {
  width: 500px;
}

.hero .container .hero_information h1 {
  font-size: 50px;
  font-weight: var(--weight-500);
  color: var(--darken-color);
  line-height: 60px;
  margin-bottom: 20px;
}

.hero .container .hero_information h1 span {
  font-weight: var(--weight-700);
}

.hero .container .hero_information p {
  font-size: var(--main-size);
  font-weight: var(--main-weight);
  color: var(--main-word-color);
  line-height: 25px;
  margin-bottom: 36px;
}

.hero .container .hero_information p span {
  font-weight: var(--weight-500);
}

.hero .container .hero_information button {
  padding: 15px 60px;
  background-color: var(--red-color);
  color: var(--main-bg-color);
  font-size: var(--main-size);
  font-weight: var(--weight-700);
  border: 1px solid transparent;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0px 20px 10px 2px var(--red-blur-10);
}

.hero .container .hero_information button:hover {
  box-shadow: 0px 10px 10px 2px var(--red-blur-10);
  transform: translateY(-5px);
}

.hero .container .hero_information button:active {
  transform: translateY(0px);
}

.hero .container .hero_img {
  width: 600px;
  height: 560px;
}

.hero .container .hero_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section_services .container {
  box-shadow: 0px 0px 20px 2px #0d102518;
  backdrop-filter: blur(114px);
  padding: 40px 20px;
  border-radius: 10px;
}

.section_services .container .section_services-block {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
}

.section_services .container .section_services-block:nth-of-type(2) {
  border-left: 1px solid var(--main-word-color);
  border-right: 1px solid var(--main-word-color);
}

.section_services .container .section_services-block p {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ffecec;
  color: var(--red-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.section_services .container .section_services-block h2 {
  font-size: 25px;
  font-weight: 700;
  color: var(--darken-color);
  line-height: 25px;
}

.section_services .container .section_services-block h2 span {
  display: block;
  font-size: 20px;
  font-weight: 400;
  color: var(--main-word-color);
}

.section_benefits .container {
  padding: 30px 0px;
}

.section_benefits .container .section_benefits-img {
  width: 530px;
  height: 500px;
}

.section_benefits .container .section_benefits-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section_benefits .container .section_benefits-information {
  width: 500px;
}

.section_benefits .container .section_benefits-information h1 {
  font-size: 45px;
  font-weight: var(--weight-500);
  color: var(--darken-color);
  line-height: 55px;
  margin-bottom: 20px;
}

.section_benefits .container .section_benefits-information p {
  font-size: var(--main-size);
  font-weight: var(--main-weight);
  color: var(--main-word-color);
  line-height: 25px;
  margin-bottom: 20px;
}

.section_benefits
  .container
  .section_benefits-information
  .section_benefits-information_types {
  line-height: 46px;
}

.section_benefits
  .container
  .section_benefits-information
  .section_benefits-information_types
  li {
  font-size: var(--main-size);
  font-weight: var(--main-weight);
  color: var(--main-word-color);
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 0px 10px;
  border-radius: 5px;
}

.section_benefits
  .container
  .section_benefits-information
  .section_benefits-information_types
  li:hover {
  background-color: var(--footer-bg);
}

.section_benefits
  .container
  .section_benefits-information
  .section_benefits-information_types
  li
  i {
  color: var(--green);
}

.section_plans .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section_plans .container .section_plans-title {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.section_plans .container .section_plans-title h1 {
  font-size: 30px;
  font-weight: var(--weight-700);
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: var(--darken-color);
}

.section_plans .container .section_plans-title p {
  font-size: 16px;
  font-weight: var(--main-weight);
  letter-spacing: 1px;
  color: var(--main-word-color);
}

.section_plans .container .section_plans-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
}

.section_plans .container .section_plans-cards .section_plans-cards_card {
  width: 300px;
  border: var(--border-lines);
  border-radius: 10px;
  text-align: center;
  padding: 30px 0px;
}

.section_plans .container .section_plans-cards .section_plans-cards_card:hover {
  border-color: var(--red-color);
  background-color: var(--section-bg);
}

/* .section_plans .container .section_plans-cards .section_plans-cards_card img{

} */

.section_plans .container .section_plans-cards .section_plans-cards_card h3 {
  font-size: 25px;
  font-weight: var(--weight-700);
  letter-spacing: 1px;
  padding: 20px 0px;
}
